/* HeroSection.css */

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

/* NOTE: LEFT DIV */
.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* flex: 1; */
  padding: 85px 0 0 0;
}

/* LEFT DIV - HERO TITLE */
.hero-title {
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  margin-left: 80px;
}

.hero-title-top {
  width: 300px;
  margin-bottom: -50px;
}

.hero-name {
  color: var(--header-color);
}

.hero-dash {
  color: var(--primary-color);
}

.hero-title-bottom {
  width: 300px;
  padding: 0 0 0 165px;
}

.hero-description {
  font-family: "Play", sans-serif;
  color: var(--primary-color);
  font-size: 1.25rem;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.hero-description-bottom {
  padding: 0 0 0 100px;
}

.contacts {
  font-family: "Play", sans-serif;
  padding: 110px 0 0 80px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact-item {
  display: flex;
  flex-direction: column;
}

.contact-item button {
  background-color: transparent;
  color: var(--secondary-color);
  border: 1px solid #66414b;
  border-radius: 5px;
  padding: 5px 13px;
  outline: none; /* Remove default outline */
}

.copied-text {
  margin-top: 5px;
  color: var(--secondary-color);
  font-size: 14px;
  align-self: flex-end;
}

/* NOTE: RIGHT DIV */
.hero-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* flex: 1; */
  font-size: 75px;
}

.date {
  margin-right: 80px;
}

.date-color-1 {
  color: var(--header-color);
}

.date-color-2 {
  color: var(--primary-color);
}

.first-line {
  top: 200px;
}

.bio-card {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 330px;
  margin-top: 40px;
  margin-right: 100px;
}

.bio-image {
  width: 100%;
  border-radius: 10px;
}

.bio-image-name-container {
  bottom: -15px;
  position: absolute;
}

.bio-image-name {
  display: inline;
  padding: 5px 35px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--primary-color);
}

.second-line {
  top: 700px;
}
