.about-container {
  position: relative;
}

.about {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin-block: 5px;
}

.about-text {
  font-family: "Play", sans-serif;
  color: var(--header-color);
  font-size: 1.8rem;
  font-weight: 500;
  max-width: 60rem;
  text-align: center;
  line-height: 1.2em;
  word-spacing: 8px;
  margin-top: 30px;
  margin-bottom: 450px;
}

.about-line-left {
  bottom: 100px;
  max-width: 20px;
}

.about-line-right {
  top: 100px;
}

.about-title {
  margin-top: 220px;
  margin-bottom: 20px;
}

.about-title-icon {
  color: whitesmoke;
}

.title:hover .about-title-icon {
  color: #d0d0d0;
}
