.about-container {
  position: relative;
}

.about {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-block: 5px;
}

.about-title {
  background-image: url("./about.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 200px;
  height: 50px;
  text-indent: -9999px; /* This hides the text while keeping it accessible for screen readers */
  cursor: pointer;
  margin-top: 220px;
}

.about-title:hover {
  background-image: url("./about-hover.png");
}

.about-text {
  font-family: "Play", sans-serif;
  color: var(--header-color);
  font-size: 1.8rem;
  font-weight: 500;
  max-width: 60rem;
  text-align: center;
  line-height: 1.2em;
  word-spacing: 8px;
  margin-top: 30px;
  margin-bottom: 450px;
}

.about-line-left {
  bottom: 100px;
}

.about-line-right {
  top: 100px;
}
