.about-container {
  position: relative;
}

.about {
  padding: 50px;
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title {
  box-sizing: border-box;
  color: var(--primary-color);
  font-size: 2.2rem;
  margin-top: 90px;
}

.about-text {
  font-family: "Play", sans-serif;
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 500;
  max-width: 60rem;
  text-align: center;
  line-height: 1.2em;
  word-spacing: 8px;
  margin-top: 30px;
  margin-bottom: 250px;
}

.line {
  position: absolute;
  top: 650px;
}
