/* Navbar.css */
.navbar-container {
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 6;
  background-color: var(--background-color);
}

.navbar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1600px;
  padding: 30px 30px 30px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-links * {
  color: var(--primary-color);
  font-family: "Play", sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
}

.navbar-links :not(:last-child) {
  padding: 0px 30px;
}
