/* Navbar.css */

.navbar {
  margin: 30px 50px 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar * {
  color: var(--primary-color);
  font-family: "Play", sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 0px 30px;
}
