/* Navbar.css */
.navbar-container {
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 6;
  background-color: var(--background-color);
}

.navbar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1600px;
  padding: 30px 30px 30px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-links a {
  position: relative;
  color: var(--primary-color);
  font-family: "Play", sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  display: inline-block;
}

.navbar-links a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%);
  height: 1px;
  opacity: 0;
  background: linear-gradient(90deg, #f18e8f, #fdeeee, #df0002);
  transition: opacity 0.3s ease-in-out;
}

.navbar-links a:hover::after {
  opacity: 100%;
  width: 120%;
}

.navbar-links :not(:last-child) {
  margin: 0px 30px;
}

.navbar-links :last-child {
  margin: 0 0 0 30px;
}
